<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkh.admin.Mapper.CityMapper">
    <!--    public void insertCity(City city);-->
<!--    <insert id="insertCity" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into city(`name`,`state`,`country`) values(#{name},#{state},#{country})-->
<!--    </insert>-->
</mapper>